In [1]:
import pandas as pd
dataset=[['milk','bread', 'wheat_bread'],['jam','bread','butter'],['milk','jam','bread','butter'],['jam','butter']]

In [2]:
#printed in array format
dataset

[['milk', 'bread', 'wheat_bread'],
 ['jam', 'bread', 'butter'],
 ['milk', 'jam', 'bread', 'butter'],
 ['jam', 'butter']]

In [3]:
from mlxtend.preprocessing import TransactionEncoder

ModuleNotFoundError: No module named 'mlxtend'

In [6]:
pip install mlxtend

Collecting mlxtend
  Downloading mlxtend-0.17.3-py2.py3-none-any.whl (1.3 MB)
Requirement already satisfied: setuptools in c:\programdata\anaconda3\anacond\lib\site-packages (from mlxtend) (45.2.0.post20200210)
Requirement already satisfied: matplotlib>=3.0.0 in c:\programdata\anaconda3\anacond\lib\site-packages (from mlxtend) (3.1.3)
Requirement already satisfied: scipy>=1.2.1 in c:\programdata\anaconda3\anacond\lib\site-packages (from mlxtend) (1.4.1)
Requirement already satisfied: pandas>=0.24.2 in c:\programdata\anaconda3\anacond\lib\site-packages (from mlxtend) (1.0.1)
Requirement already satisfied: numpy>=1.16.2 in c:\programdata\anaconda3\anacond\lib\site-packages (from mlxtend) (1.18.1)
Requirement already satisfied: scikit-learn>=0.20.3 in c:\programdata\anaconda3\anacond\lib\site-packages (from mlxtend) (0.22.1)
Requirement already satisfied: joblib>=0.13.2 in c:\programdata\anaconda3\anacond\lib\site-packages (from mlxtend) (0.14.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\anacond\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.1.0)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\anacond\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\programdata\anaconda3\anacond\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\programdata\anaconda3\anacond\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.6)
Requirement already satisfied: pytz>=2017.2 in c:\programdata\anaconda3\anacond\lib\site-packages (from pandas>=0.24.2->mlxtend) (2019.3)
Requirement already satisfied: six in c:\programdata\anaconda3\anacond\lib\site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.14.0)
Installing collected packages: mlxtend
Successfully installed mlxtend-0.17.3
Note: you may need to restart the kernel to use updated packages.

In [7]:
from mlxtend.preprocessing import TransactionEncoder

In [8]:
te=TransactionEncoder()

In [9]:
te_ary=te.fit(dataset).transform(dataset)

In [11]:
df=pd.DataFrame(te_ary,columns=te.columns_)

In [12]:
df

   bread  butter    jam   milk  wheat_bread
0   True   False  False   True         True
1   True    True   True  False        False
2   True    True   True   True        False
3  False    True   True  False        False

we need to transform in boolean format as 
Apriori Algo understands boolean format only

In [13]:
from mlxtend.frequent_patterns import apriori
apriori(df,min_support=0.1)

    support      itemsets
0      0.75           (0)
1      0.75           (1)
2      0.75           (2)
3      0.50           (3)
4      0.25           (4)
5      0.50        (0, 1)
6      0.50        (0, 2)
7      0.50        (0, 3)
8      0.25        (0, 4)
9      0.75        (1, 2)
10     0.25        (1, 3)
11     0.25        (2, 3)
12     0.25        (3, 4)
13     0.50     (0, 1, 2)
14     0.25     (0, 1, 3)
15     0.25     (0, 2, 3)
16     0.25     (0, 3, 4)
17     0.25     (1, 2, 3)
18     0.25  (0, 1, 2, 3)

0	Bread
1	Butter
2	Jam
3	Milk
4-->wheat_bread

In [14]:
apriori(df,min_support=0.1,use_colnames=True)

    support                    itemsets
0      0.75                     (bread)
1      0.75                    (butter)
2      0.75                       (jam)
3      0.50                      (milk)
4      0.25               (wheat_bread)
5      0.50             (bread, butter)
6      0.50                (bread, jam)
7      0.50               (milk, bread)
8      0.25        (wheat_bread, bread)
9      0.75               (jam, butter)
10     0.25              (milk, butter)
11     0.25                 (milk, jam)
12     0.25         (milk, wheat_bread)
13     0.50        (jam, bread, butter)
14     0.25       (milk, bread, butter)
15     0.25          (milk, bread, jam)
16     0.25  (milk, wheat_bread, bread)
17     0.25         (milk, jam, butter)
18     0.25  (milk, jam, bread, butter)

# If I want to see only 2 combinations rather than all

In [15]:
# Add lenght
frequent_itemsets['lenght']=frequent_itemsets['itemsets'].apply(lambda x:len(x))

NameError: name 'frequent_itemsets' is not defined

In [16]:
frequent_itemsets=apriori(df,min_support=0.1,use_colnames=True)

In [17]:
# Add lenght
frequent_itemsets['lenght']=frequent_itemsets['itemsets'].apply(lambda x:len(x))

In [18]:
frequent_itemsets

    support                    itemsets  lenght
0      0.75                     (bread)       1
1      0.75                    (butter)       1
2      0.75                       (jam)       1
3      0.50                      (milk)       1
4      0.25               (wheat_bread)       1
5      0.50             (bread, butter)       2
6      0.50                (bread, jam)       2
7      0.50               (milk, bread)       2
8      0.25        (wheat_bread, bread)       2
9      0.75               (jam, butter)       2
10     0.25              (milk, butter)       2
11     0.25                 (milk, jam)       2
12     0.25         (milk, wheat_bread)       2
13     0.50        (jam, bread, butter)       3
14     0.25       (milk, bread, butter)       3
15     0.25          (milk, bread, jam)       3
16     0.25  (milk, wheat_bread, bread)       3
17     0.25         (milk, jam, butter)       3
18     0.25  (milk, jam, bread, butter)       4

In [21]:
frequent_itemsets[(frequent_itemsets['lenght']==2)&(frequent_itemsets['support']>=0.2)]

    support              itemsets  lenght
5      0.50       (bread, butter)       2
6      0.50          (bread, jam)       2
7      0.50         (milk, bread)       2
8      0.25  (wheat_bread, bread)       2
9      0.75         (jam, butter)       2
10     0.25        (milk, butter)       2
11     0.25           (milk, jam)       2
12     0.25   (milk, wheat_bread)       2

In [22]:
frequent_itemsets[(frequent_itemsets['lenght']==2)&(frequent_itemsets['support']>=0.5)]

   support         itemsets  lenght
5     0.50  (bread, butter)       2
6     0.50     (bread, jam)       2
7     0.50    (milk, bread)       2
9     0.75    (jam, butter)       2

In [23]:
# we can filter according to lenght and support